@import '../../style.scss';

.sidebar {
  flex: 1;
  background-color: #3d3c61;
  border-right: 1px solid #3d3c61;
  position: relative;

  @include tablet {
    .navbar {
      .logo {
        display: none;
      }
    }

    .listFriend {
      align-items: center;

      .user {
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  @include mobile {
    display: none;
  }

  .bottom {
    height: calc(100% - 100px);
    overflow-y: scroll;
    &::-webkit-scrollbar-track {
      width: 50px;
      color: aqua;
    }
  }

  input {
    background-color: #3d3c61;
    width: 100%;
    color: white;
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    outline: none;

    &::placeholder {
      color: lightgray;
    }
  }
}
