.App {
  background-color: #a5bafc;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  .home {
    height: 80%;
    width: 70%;
    border: 1px white solid;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
  }
}

@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    font-size: 80%;
    ::placeholder {
      font-size: 70%;
    }
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
