@import '../../style.scss';
.message {
  display: flex;
  padding: 15px 5px;
  gap: 15px;

  .content {
    max-width: 70%;
    color: black;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;

    p {
      padding: 5px 10px;
      max-width: max-content;
      text-align: left;
      background-color: white;
      border-radius: 0px 10px 10px 10px;
      margin-bottom: 10px;
    }

    img {
      max-width: 50%;
      height: auto;
      margin-bottom: 10px;
    }
  }

  &.owner {
    flex-direction: row-reverse;

    .content {
      color: white;
      align-items: flex-end;
    }

    p {
      background-color: #89a0f9;
      border-radius: 10px 0px 10px 10px;
      text-align: right;
    }
  }

  .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

    img {
      height: 32px;
      width: 32px;
      border-radius: 50%;
      object-fit: cover;
    }

    span {
      color: #a6a6b4;
      font-size: 12px;
    }
  }
}
